.drop-text {
  margin-top: -8px;
  padding: 0 8px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

:local(.container) {
  overflow: visible;
}

:local(.containerActive) {
  overflow: hidden;  
}
