$desktop: 48em;

.legendBox {
  width: .6875em;
  height: .6875em;
  display: inline-block;
  margin-right: 0.5rem;
  position: absolute;
  top: 0.4em;
  left: 0;
}

.legendBoxList {
  padding-left: 1.5em;
  position: relative;
  margin: 1em 0 0.25em;
  line-height: 1.4;
}

.legendLabel {
  font-size: 14px;
}

.tableGraph {
  border: 2px solid #A5B3BE;
  font-family: "allstate-sans", sans-serif;
  width: 100%;
  overflow: hidden;
  position: relative;

  &::after {
    clear: both;
    content: '' ;
  }

  @media screen and (min-width: $desktop) {
    box-shadow: none;
    font-size: 18px;
    justify-content: center;
  }
}

.tableGraphColumn {
  flex: 1 0 auto;
  align-self: flex-end;

  @media screen and (max-width: $desktop) {
    flex: 0 0 auto;
  }
}

.tableGraphRowHeader {
  font-weight: 600;
  height: 4em;
}

.tableGraphCellLegend {
  width: 100%;
  @media screen and (max-width: $desktop) {
    flex-basis: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}

.tableGraphCell {
  position: relative;
  z-index: 0;
  color: #505A6A;
  flex-grow: 1;
  padding: 1em 1.5em 0;

  // &:nth-child(even) {
  //   background: #F6F7F8;
  // }

  p {
    margin: 0;
  }
}

.legend {
  margin: 9px 0 0;
  text-align: left;

  @media screen and (min-width: $desktop) {
    margin: 29px 0 0;
  }
}

.tableGraphLegendContainer {
  display: flex;
  -js-display: flex;
  background: white;
  float: left;
  width: 30%;
  z-index: 1;

  @media screen and (max-width: $desktop) {
    flex: 0 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
  }

  .tableGraphCell {
    position: relative;
    z-index: 0;
  }
}

.tableGraphColumnsContainer {
  -js-display: flex;
  display: flex;
  float: left;
  width: 70%;

  @media screen and (max-width: $desktop) {
    margin-left: 70%;
    overflow: scroll;
    width: 30%;
  }
}

.pie {
  text-align: center;

  svg {
    max-height: 300px;
    max-width: 600px;
  }
  p {
    font-size: 20px;
    @media screen and (min-width: $desktop) {
      margin: .5em 0 2em;
    }
  }
}

.bar svg {
  padding-left: 0.7em;
}

.mobileBarChartAxis {
  margin: -1em 0 1em;
  font-size: 18px;
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
