:local(.table) {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
  line-height: 1.25;
  max-width: 100%;
  overflow-x: scroll;
  width: 100%;
}

:local(.tableContainer) {
  border-color: rgba(0, 0, 0, .25);
  box-sizing: border-box;
  margin-bottom: 16px;
  max-width: 100%;
  overflow-x: scroll;
}

:local(.tableCell) {
  padding: 4px 15px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

:local(.tableCellActive) {
  background: #4088DD;
  color: white;
}

:local(.tableRowHidden) {
  opacity: 0.2;
}

:local(.tableRow) {
  &:first-child td {
    border-bottom: 2px solid #111;
  }
}
